<a (click)="getAllTweetByAUserName()">
    refresh for my recent post
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="36" height="36"
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
    </svg>
</a>
<section [hidden]="flag==1 || Rflag==1" class="bg-transparent">
    <div class="mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div *ngFor="let i of msg[0]">
                    <div class="feed p-7">
                        <div class="bg-white border mt-2">
                            <div>
                                <div
                                    class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row align-items-center feed-text px-2">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-brand-amongus" width="36" height="36"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M10.646 12.774c-1.939 .396 -4.467 .317 -6.234 -.601c-2.454 -1.263 -1.537 -4.66 1.423 -4.982c2.254 -.224 3.814 -.354 5.65 .214c.835 .256 1.93 .569 1.355 3.281c-.191 1.067 -1.07 1.904 -2.194 2.088z">
                                            </path>
                                            <path
                                                d="M5.84 7.132c.083 -.564 .214 -1.12 .392 -1.661c.456 -.936 1.095 -2.068 3.985 -2.456a22.464 22.464 0 0 1 2.867 .08c1.776 .14 2.643 1.234 3.287 3.368c.339 1.157 .46 2.342 .629 3.537v11l-12.704 -.019c-.552 -2.386 -.262 -5.894 .204 -8.481">
                                            </path>
                                            <path
                                                d="M17 10c.991 .163 2.105 .383 3.069 .67c.255 .13 .52 .275 .534 .505c.264 3.434 .57 7.448 .278 9.825h-3.881">
                                            </path>
                                        </svg>
                                        <div class="d-flex flex-column flex-wrap ml-2"><span
                                                class="font-weight-bold">{{i['userId']}}

                                            </span><span class="text-black-50 time">{{i['time']}}</span></div>
                                    </div>
                                    <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>
                                    {{i['postData']}}
                                </span></div>
                            <div class="d-flex justify-content-end socials p-2 py-3">
                                <span>
                                    <svg  xmlns="http://www.w3.org/2000/svg"
                                        class="icon outline-primary icon-tabler icon-tabler-thumb-up" width="36" height="36"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3">
                                        </path>
                                    </svg>
                                    <span class="text-red-90">{{i['like']}}</span>
                                </span>
                                <a (click)="getReply(i['_id'],i['postData'])">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-message-circle-2" width="36" height="36"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                                    </svg>
                                    <!-- <i class="fa fa-comments-o">Comment --></a>
                                <a (click)="update(i['_id'],i['postData'])">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit"
                                        width="36" height="36" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                        <path
                                            d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z">
                                        </path>
                                        <path d="M16 5l3 3"></path>
                                    </svg>
                                    <!-- update -->
                                </a>
                                <a (click)="deleteTweet(i['_id'])">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                                        width="36" height="36" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="red" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="4" y1="7" x2="20" y2="7"></line>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                    </svg>
                                    <!-- delete -->
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

<section [hidden]="flag===0" class="bg-transparent">
    <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-md-10 col-xs-12 col-md-offset-3">
            <div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title">Editing post...</h5>
                </div>
                <div class="panel-body">
                    <form [formGroup]="tweet" (ngSubmit)="updateTweet()" class="form-group">
                        <div>
                            <textarea class="form-control" row="4" col="60" value="{{prePost}}" formControlName="post">
                        </textarea>
                            <br>
                            <button style="position: absolute;right:0;" [disabled]="!tweet.valid"
                                class="float-end btn btn-info btn-sm pull-right waves-effect waves-light"
                                type="submit">Update
                            </button>
                            <a style="position: absolute;left:1%;" (click)="back()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back"
                                    width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
                                </svg>
                                back
                            </a>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section [hidden]="Rflag===0" class="bg-transparent">
    <div class="mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">

                <div class="feed p-7">
                    <div class="bg-white border mt-2">
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                            </div>
                        </div>
                        <div class="p-2 px-3"><span>
                                {{comment}} </span>
                        </div>
                        <div class="d-flex justify-content-end socials p-2 py-3">
                            <br>
                            <a style="position: absolute;right:0;" (click)='hideReply()'>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-back" width="36" height="36"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
                                </svg>
                                back
                            </a>
                            <br>
                        </div>

                    </div>
                </div>
                <div class="panel-heading">
                    <h5 *ngIf="h>0" class="panel-title">All comments...</h5>
                    <h5 *ngIf="h==0" class="panel-title">No comments yet...</h5>
                </div>
                <div *ngFor="let i of reply[0]">
                    <div class="feed p-7">
                        <div class="bg-white border mt-2">
                            <div>
                                <div
                                    class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row align-items-center feed-text px-2">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-brand-amongus" width="36" height="36"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M10.646 12.774c-1.939 .396 -4.467 .317 -6.234 -.601c-2.454 -1.263 -1.537 -4.66 1.423 -4.982c2.254 -.224 3.814 -.354 5.65 .214c.835 .256 1.93 .569 1.355 3.281c-.191 1.067 -1.07 1.904 -2.194 2.088z">
                                            </path>
                                            <path
                                                d="M5.84 7.132c.083 -.564 .214 -1.12 .392 -1.661c.456 -.936 1.095 -2.068 3.985 -2.456a22.464 22.464 0 0 1 2.867 .08c1.776 .14 2.643 1.234 3.287 3.368c.339 1.157 .46 2.342 .629 3.537v11l-12.704 -.019c-.552 -2.386 -.262 -5.894 .204 -8.481">
                                            </path>
                                            <path
                                                d="M17 10c.991 .163 2.105 .383 3.069 .67c.255 .13 .52 .275 .534 .505c.264 3.434 .57 7.448 .278 9.825h-3.881">
                                            </path>
                                        </svg>
                                        <div class="d-flex flex-column flex-wrap ml-2">
                                            comment by<span class="font-weight-bold">{{i['userId']}}

                                            </span></div>
                                    </div>
                                    <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>
                                    {{i['reply'] }} </span></div>
                            <br>
                            <div class="d-flex justify-content-end socials p-2 py-3">
                                <br>
                                <a style="position: absolute;right:0;" (click)='hideReply()'>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-arrow-back" width="36" height="36"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
                                    </svg>
                                    back
                                </a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>


<!-- <p>search-tweet works!</p>
refresh to search ur own tweet<button (click)="getAllTweetByAUserName()">Search</button>
<table [hidden]="flag==1 || Rflag==1">
    <div *ngFor="let i of msg[0]">
        <tr>
            <td>{{i['userId']|json}}</td>
            <td>{{i['postData']|json}}</td>
            <td>{{i['like'] |json}}</td>
            <td>{{i['time'] |json}}</td>
            <button (click)="deleteTweet(i['_id'])"> Delete</button>
            <button (click)="update(i['_id'],i['postData'])">Update</button>
            <button (click)="getReply(i['_id'],i['postData'])">show reply</button>
        </tr>
    </div>
</table> -->

<!-- <table [hidden]="Rflag===0">
    <tr>
        {{comment}} <button (click)='hideReply()'> Hide reply</button>
    </tr>
    <div *ngFor="let i of reply[0]">
        <tr>
            <td>{{i['userId']|json}}</td>
            <td>{{i['reply'] |json}}</td>
        <tr>
    </div>
</table> -->

<!-- <form [hidden]="flag===0" [formGroup]="tweet" (ngSubmit)="updateTweet()">
    <textarea row="4" col="50" value="{{prePost}}" formControlName="post">
    </textarea>
    <button [disabled]="!tweet.valid" type="submit">Update
    </button>
    <button (click)="back()">
        back
    </button>
</form> -->