<section [hidden]="home==true" >
<div *ngIf="login==true">
        <login (send)="result($event)" (registerShow)="showRegister($event)"></login>
        <!-- <button [style.visibility]="home?'hidden':'visible'" (click)="showRegister(true)">Create New
            Account</button> -->
    </div>

    <div *ngIf="register==true">
        <register (send)="result($event)" (loginShow)="showLogin($event)"></register>
        <!-- <button [style.visibility]="home?'hidden':'visible'" (click)="showLogin(true)">Already have an account
            ?</button> -->
    </div>

    <div [style.visibility]="'hidden'">
        <button id="search" [routerLink]="['/tweets/success']"></button>
    </div>
</section>

<router-outlet></router-outlet>
