/* You can add global styles to this file, and also import other style files */
#mainB{
    /* background-image:url("PngItem.png"); */
 background-color: rgb(228, 247, 245); 
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
  }